@charset "UTF-8";
/* ------------------------------
Author : Stephanie Dang
Description : Portfolio web 
---------------------------------- */
/* --- INDEX des fichiers SCSS --- */
/* ------------ # Variables ------------ */
/* ------------ # Mixins ------------ */
/* ----------- # Anim ------------ */
@-webkit-keyframes logoClick {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes logoClick {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes leftSlideIn {
  from {
    -webkit-transform: translate3d(-400px, 0, 0);
            transform: translate3d(-400px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes leftSlideIn {
  from {
    -webkit-transform: translate3d(-400px, 0, 0);
            transform: translate3d(-400px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes rightSlideIn {
  from {
    -webkit-transform: translate3d(400px, 0, 0);
            transform: translate3d(400px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rightSlideIn {
  from {
    -webkit-transform: translate3d(400px, 0, 0);
            transform: translate3d(400px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes txtAppears {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes txtAppears {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes txtSlideDown {
  from {
    -webkit-transform: translate3d(0, -300px, -400px);
            transform: translate3d(0, -300px, -400px);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes txtSlideDown {
  from {
    -webkit-transform: translate3d(0, -300px, -400px);
            transform: translate3d(0, -300px, -400px);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes popUp {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes popUp {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    border-color: #f1f1f1;
  }
  50% {
    border-color: #161515;
  }
  100% {
    border-color: #f1f1f1;
  }
}

@keyframes blink {
  0% {
    border-color: #f1f1f1;
  }
  50% {
    border-color: #161515;
  }
  100% {
    border-color: #f1f1f1;
  }
}

/* Animation de la flèche de défilement */
/* ------------ # Menu ------------ */
#mobileMenu {
  display: block;
  z-index: 100;
  position: fixed;
}

@media (min-width: 992px) {
  #mobileMenu {
    display: none;
  }
}

.btnMenu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.btnMenu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  /*   border-radius: 50%; */
  background-color: #a06909;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: white;
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.btnMenu .floating-btn i {
  font-size: 1em;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.btnMenu:after {
  height: 3.5em;
  width: 3.5em;
  position: absolute;
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  display: block;
  content: ' ';
  border-radius: 30%;
  z-index: -2;
  background-color: #a06909;
  opacity: 0.5;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btnMenu .items-wrapper {
  padding: 0;
  margin: 0;
}

.btnMenu .menu-item {
  height: 3em;
  width: 3em;
  position: fixed;
  top: 0.2em;
  bottom: auto;
  right: 0.2em;
  left: auto;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  opacity: 0;
  z-index: -1;
  -webkit-transition: background .2s ease, -webkit-transform .3s ease;
  transition: background .2s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, background .2s ease;
  transition: transform .3s ease, background .2s ease, -webkit-transform .3s ease;
}

.btnMenu .menu-item:hover {
  color: rgba(0, 0, 0, 0.3);
}

.btnMenu.active .floating-btn i {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btnMenu.active:after {
  -webkit-transform: scale3d(2.5, 2.5, 1);
          transform: scale3d(2.5, 2.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
          transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

.btnMenu.active .menu-item {
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btnMenu.active .menu-item:nth-child(1) {
  -webkit-transform: translate3d(0, -3.3em, 0);
          transform: translate3d(0, -3.3em, 0);
}

.btnMenu.active .menu-item:nth-child(2) {
  -webkit-transform: translate3d(-1.5em, -3.3em, 0);
          transform: translate3d(-1.5em, -3.3em, 0);
}

.btnMenu.active .menu-item:nth-child(3) {
  -webkit-transform: translate3d(-3.5em, -1em, 0);
          transform: translate3d(-3.5em, -1em, 0);
}

.btnMenu.active .menu-item:nth-child(4) {
  -webkit-transform: translate3d(-3.5em, 0.5em, 0);
          transform: translate3d(-3.5em, 0.5em, 0);
}

#f-menu {
  display: none;
  position: fixed;
  top: auto;
  bottom: 1rem;
  right: -80px;
  left: auto;
  max-width: none;
  padding-top: 50px;
  z-index: 100;
}

@media (min-width: 992px) {
  #f-menu {
    display: block;
  }
}

#f-menu .nav-wrap {
  width: 200px;
  float: right;
  position: relative;
}

#f-menu .nav p {
  padding: 0 4rem;
  opacity: 0.1;
}

#f-menu .nav a {
  height: 20px;
  width: 100px;
  display: block;
  margin: 1rem 0;
  position: relative;
  padding: 0;
  text-align: left;
  color: #f4ae34;
  text-decoration: none;
  letter-spacing: -1px;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
}

#f-menu .nav a span.numeroSection {
  position: absolute;
  display: block;
  font-family: Azonix;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#f-menu .nav a span.nomSection {
  position: absolute;
  display: block;
  color: #f1f1f1;
  font-family: Codec;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#f-menu .nav a span.blank {
  display: none;
}

#f-menu .nav .numeroSection {
  right: 0;
}

#f-menu .nav .nomSection {
  right: -100px;
}

#f-menu .nav .link:hover .numeroSection {
  right: 100px;
}

#f-menu .nav .link:hover .numeroSection ~ .nomSection {
  right: 0px;
}

/* ----------- # Layout ------------ */
html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

@font-face {
  font-family: Elianto;
  src: url("../fonts/Elianto.otf");
}

@font-face {
  font-family: Codec;
  src: url("../fonts/Codec.ttf");
}

@font-face {
  font-family: Azonix;
  src: url("../fonts/Azonix.otf");
}

* {
  font-family: Codec, 'sans-serif';
}

h1,
h2 {
  font-weight: 100;
  text-transform: uppercase;
  text-shadow: -5px 4px 2px rgba(0, 0, 0, 0.5);
}

ul {
  list-style-type: none;
}

body {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #161515;
  border-left: 5px solid #f4ae34;
  color: #f1f1f1;
  overflow: scroll;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

section {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  scroll-snap-align: start;
}

@media (min-width: 992px) {
  section {
    width: 90vw;
  }
}

header {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  position: fixed;
  top: 2rem;
  bottom: auto;
  right: 0;
  left: auto;
}

header svg {
  height: 3rem;
  margin-right: 2rem;
  cursor: pointer;
}

header svg .st0, header svg .st1 {
  fill: #f1f1f1;
}

header svg:active {
  -webkit-animation: logoClick 0.5s;
          animation: logoClick 0.5s;
  -webkit-transform: rotate(0deg) scale(1) translateZ(0);
          transform: rotate(0deg) scale(1) translateZ(0);
  -webkit-transition: all 0.4s cubic-bezier(0.5, 1.5, 0.75, 0.75);
  transition: all 0.4s cubic-bezier(0.5, 1.5, 0.75, 0.75);
}

header #sectionName {
  font-family: "Elianto";
  font-size: 1.5rem;
  font-weight: auto;
  cursor: context-menu;
  opacity: 0.3;
}

header hr {
  height: 60px;
  width: 1px;
  opacity: 0.5;
  right: 0;
  background-color: white;
  margin: 0 20px;
}

.global {
  overflow: auto;
}

@media (min-width: 992px) {
  .global {
    overflow: unset;
  }
}

.shapes {
  position: fixed;
  z-index: -20;
}

.square {
  height: 20px;
  width: 20px;
  position: fixed;
  top: 11rem;
  bottom: auto;
  right: 0;
  left: 725px;
  opacity: 0.15;
  background-color: transparent;
  border: 4px solid rgba(0, 255, 255, 0.5);
}

.square1 {
  height: 20px;
  width: 20px;
  position: fixed;
  top: 700px;
  bottom: auto;
  right: 0;
  left: 1500px;
  opacity: 0.15;
  background-color: transparent;
  border: 4px solid rgba(0, 255, 255, 0.5);
}

.square2 {
  height: 5px;
  width: 5px;
  position: fixed;
  top: 23rem;
  bottom: auto;
  right: 0;
  left: 80px;
  opacity: 0.15;
  background-color: transparent;
  border: 3px solid rgba(0, 255, 255, 0.5);
}

.circle {
  height: 20px;
  width: 20px;
  position: fixed;
  top: 600px;
  bottom: auto;
  right: auto;
  left: 700px;
  opacity: 0.15;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #f4ae34;
}

.circle2 {
  height: 5px;
  width: 5px;
  position: fixed;
  top: 100px;
  bottom: auto;
  right: auto;
  left: 1050px;
  opacity: 0.15;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #f4ae34;
}

.float {
  -webkit-animation: floating 6s infinite ease-in-out;
          animation: floating 6s infinite ease-in-out;
}

.spin {
  -webkit-animation: spinning 10s infinite ease-in-out;
          animation: spinning 10s infinite ease-in-out;
}

/* ----------- # Accueil ------------ */
#sectionAccueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

#sectionAccueil #imageBackground {
  display: none;
}

#sectionAccueil div {
  padding-bottom: 2rem;
  margin-left: 2rem;
}

#sectionAccueil div h1 {
  font-family: "Elianto";
  font-size: 2.1rem;
  font-weight: auto;
  text-shadow: -5px 4px 2px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: leftSlideIn 1s forwards;
          animation: leftSlideIn 1s forwards;
}

#sectionAccueil div p {
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-left: 1.75rem;
  opacity: 0;
  text-transform: uppercase;
  white-space: pre-line;
  -webkit-animation: txtAppears 1s forwards 2s;
          animation: txtAppears 1s forwards 2s;
}

#sectionAccueil div p:before {
  content: '\007B';
  color: rgba(0, 255, 255, 0.5);
  font-weight: bold;
}

#sectionAccueil div p:after {
  content: '\007D';
  color: rgba(0, 255, 255, 0.5);
  font-weight: bold;
}

#sectionAccueil div h2 {
  color: #f4ae34;
}

#sectionAccueil div .textChanger {
  height: auto;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

#sectionAccueil div .textChanger > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  color: #f1f1f1;
}

#sectionAccueil div .textChanger > div > span {
  display: inline-block;
}

#sectionAccueil div .textChanger .right {
  height: 5rem;
  width: auto;
  margin: 0;
}

#sectionAccueil div .textChanger .right #textDesigner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sectionAccueil div .textChanger .right:before, #sectionAccueil div .textChanger .right:after {
  content: '\003C \0020 \002F \0020 \003E';
  color: #f1f1f1;
  font-weight: bold;
  -webkit-animation: txtSlideDown 2.3s forwards ease-out;
          animation: txtSlideDown 2.3s forwards ease-out;
}

#sectionAccueil div #textDesigner h2 {
  text-shadow: none;
}

#sectionAccueil div #textDesigner h2:last-child {
  padding-right: 2px;
  border-right: 0.05em solid #f4ae34;
  -webkit-animation: blink 1.3s infinite linear;
          animation: blink 1.3s infinite linear;
}

@media (min-width: 992px) {
  #sectionAccueil #imageBackground {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: auto;
            flex-direction: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    top: 0;
    bottom: auto;
    right: -75px;
    left: auto;
    -webkit-clip-path: circle(33%);
            clip-path: circle(33%);
  }
  #sectionAccueil #imageBackground img {
    position: absolute;
    opacity: 0.7;
    z-index: 2;
    -webkit-animation: txtAppears 1s ease-in;
            animation: txtAppears 1s ease-in;
  }
  #sectionAccueil #imageBackground svg {
    -webkit-filter: drop-shadow(9px -30px 0 #f4ae34);
            filter: drop-shadow(9px -30px 0 #f4ae34);
    opacity: 0.3;
  }
  #sectionAccueil div {
    margin: 10rem;
  }
  #sectionAccueil div h1 {
    font-size: 2.5rem;
  }
  #sectionAccueil div h2 {
    font-size: 2rem;
  }
  #sectionAccueil div p {
    font-size: 1rem;
    margin: 0;
  }
}

#sectionBtnDown {
  position: absolute;
  top: 63%;
  bottom: auto;
  right: auto;
  left: auto;
  cursor: pointer;
  padding-left: 1rem;
  opacity: 0;
  -webkit-animation: txtSlideDown 1s forwards 1.5s;
          animation: txtSlideDown 1s forwards 1.5s;
  z-index: 10;
}

#sectionBtnDown .verticalLine {
  height: 100px;
  width: 2px;
  background: #f1f1f1;
  margin: 10px auto;
}

#sectionBtnDown p {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upleft;
}

@media (min-width: 992px) {
  #sectionBtnDown {
    position: absolute;
    top: 70%;
    bottom: auto;
    right: auto;
    left: auto;
    padding-left: 10rem;
  }
}

/* ------------ # About ------------ */
#sectionAbout .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#sectionAbout .container .aboutMe {
  height: 45%;
  opacity: 0;
}

#sectionAbout .container .aboutMe p {
  width: 400px;
  word-spacing: 0.3rem;
  letter-spacing: 0.01rem;
}

#sectionAbout .container .aboutMe ul {
  border-radius: 1px;
  background: linear-gradient(225deg, #141313, #181616);
  -webkit-box-shadow: -3px 3px 0px #131212,3px -3px 0px #191818;
          box-shadow: -3px 3px 0px #131212,3px -3px 0px #191818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 10px;
}

#sectionAbout .container .aboutMe ul li {
  margin-right: 10px;
  font-size: 1.5rem;
}

#sectionAbout .container .aboutMe ul a {
  color: #f4ae34;
  opacity: 0.5;
}

#sectionAbout .container .aboutMe ul a:hover {
  opacity: 1;
}

#sectionAbout .container .aboutMe hr {
  height: 5px;
  width: 60px;
  margin: 25px 0 25px 0;
  opacity: 0.2;
  background-color: #885907;
  border: 0;
}

#sectionAbout .container .aboutMe .yellow {
  color: #f4ae34;
}

#sectionAbout .container .skills {
  height: 50%;
  width: 100%;
  opacity: 0;
}

#sectionAbout .container .skills #skillDesign svg {
  height: 75px;
  -webkit-filter: drop-shadow(1px 1px 0px #111) drop-shadow(-1px 1px 0px #111) drop-shadow(1px -1px 0px #111) drop-shadow(-1px 13px 0px #111);
          filter: drop-shadow(1px 1px 0px #111) drop-shadow(-1px 1px 0px #111) drop-shadow(1px -1px 0px #111) drop-shadow(-1px 13px 0px #111);
}

#sectionAbout .container .skills #skillProg {
  border-radius: 1px;
  background: linear-gradient(225deg, #141313, #181616);
  -webkit-box-shadow: -3px 3px 0px #131212,3px -3px 0px #191818;
          box-shadow: -3px 3px 0px #131212,3px -3px 0px #191818;
  margin-top: 5rem;
  padding-bottom: 1.2rem;
}

#sectionAbout .container .skills #skillProg .skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 10px;
}

#sectionAbout .container .skills #skillProg .skill-list .skill {
  margin-right: 10px;
  font-size: 0.75rem;
}

#sectionAbout .container .skills #skillProg .skill-list .skill h3 {
  font-family: "azonix";
  font-size: 0.75rem;
  font-weight: 100;
  text-shadow: -5px 4px 2px rgba(0, 0, 0, 0.5);
}

#sectionAbout .container .skills #skillProg .skill-list .skill .skill1,
#sectionAbout .container .skills #skillProg .skill-list .skill .skill2,
#sectionAbout .container .skills #skillProg .skill-list .skill .skill3,
#sectionAbout .container .skills #skillProg .skill-list .skill .skill4 {
  height: 15px;
  width: 100px;
  background-color: #252525;
}

#sectionAbout .container .skills #skillProg .skill-list .skill .skill1 > *,
#sectionAbout .container .skills #skillProg .skill-list .skill .skill2 > *,
#sectionAbout .container .skills #skillProg .skill-list .skill .skill3 > *,
#sectionAbout .container .skills #skillProg .skill-list .skill .skill4 > * {
  height: inherit;
  width: 50px;
  background: rgba(0, 255, 255, 0.5);
}

@media (min-width: 992px) {
  #sectionAbout .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #sectionAbout .container .aboutMe {
    height: 50%;
  }
  #sectionAbout .container .skills {
    width: unset;
  }
  #sectionAbout .container .skills #skillDesign svg {
    height: 90px;
  }
}

/* ------------ # Work ------------ */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.galleryWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem auto;
}

.galleryGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.6rem;
}

.galleryGrid h1 {
  font-family: "azonix";
  font-size: 3rem;
  font-weight: auto;
  text-shadow: -5px 4px 2px rgba(0, 0, 0, 0.5);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: auto;
  color: #f4ae34;
}

.workGame {
  opacity: 0;
  padding: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto 1fr;
      grid-template-columns: auto 1fr auto 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "title . ." "title . .";
}

.workGame .galleryItems {
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
  height: 250px;
  padding: 0.2rem;
}

.workGame .galleryItems:hover {
  -webkit-transition: .4s all;
  transition: .4s all;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 99;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  border-bottom: 2px solid rgba(0, 255, 255, 0.5);
}

.workGame .galleryItems:hover:nth-of-type(1) {
  opacity: 0.5;
  background-image: url("../media/airGif.gif"), url("../media/sd-airBallon.png");
  background-size: contain;
  background-blend-mode: color-dodge;
}

.workGame .galleryItems:hover:nth-of-type(4) {
  background-image: url("../media/sd-quercus.png"), url("../media/quercusGif.gif");
  background-size: contain;
  background-blend-mode: color-dodge;
}

.workGame .galleryItems:hover:nth-of-type(5) {
  background-image: url("../media/sd-blok.png"), url("../media/blokGif.gif");
  background-size: cover;
  background-blend-mode: multiply;
}

.workGame .galleryItems:hover:nth-of-type(6) {
  background-image: url("../media/sd-astre.png"), url("../media/astreGif.gif");
  background-size: contain;
  background-blend-mode: color-dodge;
}

.workGame .galleryItems:nth-child(n) {
  background-size: contain;
  background-repeat: no-repeat;
}

.workGame .galleryItems:nth-of-type(1) {
  height: 250px;
  width: 450px;
  background-image: url("../media/sd-airBallon.png");
}

.workGame .galleryItems:nth-of-type(3) {
  height: 250px;
  width: 450px;
  background-image: url("../media/sd-tokki.png");
}

.workGame .galleryItems:nth-of-type(4) {
  height: 250px;
  width: 450px;
  background-image: url("../media/sd-quercus.png");
}

.workGame .galleryItems:nth-of-type(5) {
  width: inherit;
  background-image: url("../media/sd-blok.png");
}

.workGame .galleryItems:nth-of-type(6) {
  height: 250px;
  width: 450px;
  background-image: url("../media/sd-astre.png");
}

.workMaya {
  padding: 5rem;
  display: none;
  -ms-grid-columns: auto 1fr auto 1fr;
      grid-template-columns: auto 1fr auto 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "title . ." "title . .";
}

.workMaya .galleryItems {
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
  height: 250px;
  padding: 0.2rem;
}

.title {
  border-radius: 1px;
  background: linear-gradient(225deg, #141313, #181616);
  -webkit-box-shadow: -3px 3px 0px #131212,3px -3px 0px #191818;
          box-shadow: -3px 3px 0px #131212,3px -3px 0px #191818;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: title;
  padding: 1rem;
  margin: 0 1rem 0 1rem;
}

.radioContainer {
  opacity: 0;
  width: 100%;
  margin: 0 auto;
}

.radioContainer .radioWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

.radioContainer .radioWrapper > div {
  padding: 1rem;
  margin: 0 1rem 0 1rem;
}

.radioContainer .radioWrapper input {
  display: none;
}

.radioContainer .radioWrapper label {
  border-radius: 1px;
  background: linear-gradient(225deg, #141313, #181616);
  -webkit-box-shadow: -3px 3px 0px #131212,3px -3px 0px #191818;
          box-shadow: -3px 3px 0px #131212,3px -3px 0px #191818;
  padding: 1.25rem;
}

.radioContainer .radioWrapper input[type="radio"]#gameBtn:checked + label,
.radioContainer .radioWrapper input[type="radio"]#mayaBtn:checked + label {
  color: rgba(0, 255, 255, 0.5);
  border-radius: 1px;
  background: #161515;
  -webkit-box-shadow: 3px -3px 0px #131212, -3px 3px 0px #191818;
          box-shadow: 3px -3px 0px #131212, -3px 3px 0px #191818;
}

.left-fade {
  height: 30rem;
  width: 25%;
  position: fixed;
  top: 300px;
  bottom: auto;
  right: auto;
  left: 300px;
  background: linear-gradient(100deg, #161515 0%, rgba(0, 0, 0, 0) 80%);
  pointer-events: none;
  z-index: -1;
}

.right-fade {
  height: 30rem;
  width: 25%;
  position: fixed;
  top: 300px;
  bottom: auto;
  right: 0;
  left: auto;
  background: linear-gradient(-100deg, #161515 0%, rgba(0, 0, 0, 0) 80%);
  pointer-events: none;
  z-index: -1;
}

.active {
  -webkit-transform: scale(2);
          transform: scale(2);
  position: absolute;
}

/* ------------ # Contact ------------ */
#sectionContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

#sectionContact .container {
  padding-left: 6rem;
}

#sectionContact .contactTitre {
  opacity: 0;
  font-family: Elianto;
}

#sectionContact .lienContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
  border-radius: 1px;
  background: linear-gradient(225deg, #141313, #181616);
  -webkit-box-shadow: -3px 3px 0px #131212,3px -3px 0px #191818;
          box-shadow: -3px 3px 0px #131212,3px -3px 0px #191818;
  padding: 1rem;
}

#sectionContact .lienContact li {
  margin-right: 2rem;
}

#sectionContact .lienContact li a {
  text-decoration: none;
  color: #f1f1f1;
  opacity: 0.8;
}

#sectionContact .lienContact li a:hover {
  -webkit-transition: 0.2 all;
  transition: 0.2 all;
  color: #f4ae34;
}

@media (min-width: 992px) {
  #sectionContact {
    margin: 0 10.5rem;
  }
}

/* ----------- # Footer ------------ */
.menuFooter {
  display: inline-block;
  max-width: none;
  padding-top: 50px;
  text-transform: uppercase;
  color: #f1f1f1;
  opacity: 0.5;
  cursor: pointer;
  pointer-events: none;
  z-index: 100;
}

.menuFooter:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  pointer-events: all;
  opacity: 1;
}

.menuFooter:hover .fa-star {
  color: #f4ae34;
}

.menuFooter:hover .divider:before {
  width: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.menuFooter:hover .itemFooter {
  opacity: 1;
  top: 0px;
}

@media (min-width: 992px) {
  .menuFooter {
    position: fixed;
    top: auto;
    bottom: 1rem;
    right: auto;
    left: 1.25rem;
  }
}

.titleFooter {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}

.divider {
  display: inline-block;
  width: 80px;
  margin: auto 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

.divider:before {
  height: 1px;
  width: 0%;
  content: "";
  position: absolute;
  border-bottom: 1px solid #f4ae34;
  -webkit-transition: width 0.25s ease;
  transition: width 0.25s ease;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.itemFooter {
  position: relative;
  top: 10px;
  bottom: auto;
  right: auto;
  left: auto;
  display: inline-block;
  margin-right: 30px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease, top 0.5s ease;
  transition: opacity 0.5s ease, top 0.5s ease;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.itemFooter a {
  text-decoration: none;
  color: #f1f1f1;
}

.itemFooter a:hover {
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
  color: #a06909;
}

.itemFooter:nth-child(1) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.itemFooter:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.itemFooter:nth-child(3) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.itemFooter:nth-child(4) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.itemFooter:nth-child(5) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.itemFooter:nth-child(6) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.itemFooter:nth-child(7) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.menuFooter:hover .itemFooter:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menuFooter:hover .itemFooter:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menuFooter:hover .itemFooter:nth-child(3) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menuFooter:hover .itemFooter:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menuFooter:hover .itemFooter:nth-child(5) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menuFooter:hover .itemFooter:nth-child(6) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.menuFooter:hover .itemFooter:nth-child(7) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}
/*# sourceMappingURL=style.css.map */