@charset "UTF-8";
/* ------------------------------
Author : Stephanie Dang
Description : Portfolio web 
---------------------------------- */
/* --- INDEX des fichiers SCSS --- */
/* ------------ # Variables ------------ */
/* ------------ # Variables ------------ */
/* ----------- # Anim ------------ */
/*
Animation header
*/
@-webkit-keyframes LeftSlideIn {
  from {
    -webkit-transform: translate3d(-400px, 0, 0);
            transform: translate3d(-400px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes LeftSlideIn {
  from {
    -webkit-transform: translate3d(-400px, 0, 0);
            transform: translate3d(-400px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes txtAppears {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes txtAppears {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes txtSlideDown {
  from {
    -webkit-transform: translate3d(0, -300px, -400px);
            transform: translate3d(0, -300px, -400px);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes txtSlideDown {
  from {
    -webkit-transform: translate3d(0, -300px, -400px);
            transform: translate3d(0, -300px, -400px);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes blink {
  0% {
    border-color: #f1f1f1;
  }
  50% {
    border-color: #161515;
  }
  100% {
    border-color: #f1f1f1;
  }
}

@keyframes blink {
  0% {
    border-color: #f1f1f1;
  }
  50% {
    border-color: #161515;
  }
  100% {
    border-color: #f1f1f1;
  }
}

/* Animation de la flèche de défilement */
@-webkit-keyframes animScrollDown {
  from {
    -webkit-filter: drop-shadow(20px 15px rgba(255, 255, 0, 0.5));
            filter: drop-shadow(20px 15px rgba(255, 255, 0, 0.5));
  }
  50% {
    -webkit-filter: drop-shadow(-20px -15px rgba(0, 255, 255, 0.5));
            filter: drop-shadow(-20px -15px rgba(0, 255, 255, 0.5));
  }
  to {
    -webkit-filter: drop-shadow(20px 15px rgba(255, 255, 0, 0.5));
            filter: drop-shadow(20px 15px rgba(255, 255, 0, 0.5));
  }
}
@keyframes animScrollDown {
  from {
    -webkit-filter: drop-shadow(20px 15px rgba(255, 255, 0, 0.5));
            filter: drop-shadow(20px 15px rgba(255, 255, 0, 0.5));
  }
  50% {
    -webkit-filter: drop-shadow(-20px -15px rgba(0, 255, 255, 0.5));
            filter: drop-shadow(-20px -15px rgba(0, 255, 255, 0.5));
  }
  to {
    -webkit-filter: drop-shadow(20px 15px rgba(255, 255, 0, 0.5));
            filter: drop-shadow(20px 15px rgba(255, 255, 0, 0.5));
  }
}

/* ------------ # Menu ------------ */
#nav ul {
  position: fixed;
  right: 1rem;
  bottom: 1.25rem;
  display: block;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
  width: 5rem;
  height: 0.25rem;
  list-style: none;
  cursor: pointer;
}

#nav ul li a {
  position: absolute;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav ul li a .numeroSection {
  font-family: 'Azonix';
  color: #f4ae34;
  text-align: right;
}

#nav ul li a .numeroSection:hover {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

#nav ul li a .numeroSection:hover ~ .nomSection {
  display: inline;
}

#nav ul li a .nomSection {
  display: none;
  font-family: Codec;
  text-transform: uppercase;
  color: #f1f1f1;
}

/* ----------- # Layout ------------ */
* {
  font-family: Codec,'sans-serif';
}

html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

@font-face {
  font-family: Elianto;
  src: url("../fonts/Elianto.otf");
}

@font-face {
  font-family: Codec;
  src: url("../fonts/Codec.ttf");
}

@font-face {
  font-family: Azonix;
  src: url("../fonts/Azonix.otf");
}

h1, h2 {
  font-weight: 100;
  text-transform: uppercase;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #161515;
  color: #f1f1f1;
  border-left: 5px solid #f4ae34;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

#sectionAccueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sectionAccueil div {
  padding-bottom: 2rem;
  margin-left: 2rem;
}

#sectionAccueil div h1 {
  font-size: 2.1rem;
  font-family: Elianto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: LeftSlideIn 1s forwards;
          animation: LeftSlideIn 1s forwards;
  text-shadow: -0.25rem -0.15rem rgba(0, 255, 255, 0.5), 0 0.25rem rgba(255, 255, 0, 0.5);
}

#sectionAccueil div h1:hover {
  text-shadow: -0.5rem -0.05rem rgba(0, 255, 255, 0.5), 0 0.5rem rgba(255, 255, 0, 0.5);
}

#sectionAccueil div p {
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-left: 1.75rem;
  opacity: 0;
  text-transform: uppercase;
  white-space: pre-line;
  -webkit-animation: txtAppears 1s forwards 2s;
          animation: txtAppears 1s forwards 2s;
}

#sectionAccueil div p:before {
  content: '\007B';
  color: rgba(0, 255, 255, 0.5);
  font-weight: bold;
}

#sectionAccueil div p:after {
  content: '\007D';
  color: rgba(0, 255, 255, 0.5);
  font-weight: bold;
}

#sectionAccueil div h2 {
  color: #f4ae34;
}

#sectionAccueil div .textChanger {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
}

#sectionAccueil div .textChanger > div {
  top: 0;
  color: #f1f1f1;
  -webkit-animation: open ease-in 1s;
          animation: open ease-in 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectionAccueil div .textChanger > div > span {
  display: inline-block;
}

#sectionAccueil div .textChanger .right {
  margin: 0;
  height: 5rem;
  width: auto;
}

#sectionAccueil div .textChanger .right #textDesigner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sectionAccueil div .textChanger .right:before, #sectionAccueil div .textChanger .right:after {
  content: '\003C \0020 \002F \0020 \003E';
  color: #f1f1f1;
  font-weight: bold;
  -webkit-animation: txtSlideDown 2.3s forwards ease-out;
          animation: txtSlideDown 2.3s forwards ease-out;
}

#sectionAccueil div #textDesigner h2:last-child {
  padding-right: 2px;
  border-right: 0.05em solid #f4ae34;
  -webkit-animation: blink 1.3s infinite linear;
          animation: blink 1.3s infinite linear;
}

#sectionBtnDown {
  position: absolute;
  height: 10rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#sectionBtnDown svg {
  -webkit-transform: scale(0.15);
          transform: scale(0.15);
  -webkit-filter: drop-shadow(-20px -15px rgba(0, 255, 255, 0.5));
          filter: drop-shadow(-20px -15px rgba(0, 255, 255, 0.5));
  -webkit-animation: animScrollDown 3.5s both infinite;
          animation: animScrollDown 3.5s both infinite;
}

#sectionBtnDown svg .st2 {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#sectionWork {
  display: block;
}

#sectionWork h1 {
  position: absolute;
  margin: 30px;
}

#sectionWork .workDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#sectionWork .workDiv .cardWork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: pink;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  -webkit-transform: rotateX(0) rotateY(0);
          transform: rotateX(0) rotateY(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform: perspective(600px) rotateY(-30deg);
          transform: perspective(600px) rotateY(-30deg);
}

#sectionWork .workDiv .cardWork:hover {
  -webkit-transform: perspective(0) rotateY(0deg);
          transform: perspective(0) rotateY(0deg);
}

#sectionWork .workDiv .cardOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#sectionWork .workDiv .cardOverlay img {
  height: 100%;
}

#sectionWork .workDiv .cardTitle {
  position: absolute;
  bottom: -35px;
  right: -20px;
  width: 100%;
}

#sectionWork .workDiv .cardTitle h2 {
  font-family: Azonix;
  text-align: right;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
  text-shadow: 5px 5px black;
}
/*# sourceMappingURL=style.css.map */