@charset "UTF-8";
/* ------------------------------
Author : Stephanie Dang
Description : Portfolio web 
---------------------------------- */
/* --- INDEX des fichiers SCSS --- */
/* ------------ # Variables ------------ */
/* ------------ # Mixins ------------ */
/* ----------- # Anim ------------ */
@-webkit-keyframes logoIn {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes logoIn {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes leftSlideIn {
  from {
    -webkit-transform: translate3d(-400px, 0, 0);
            transform: translate3d(-400px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes leftSlideIn {
  from {
    -webkit-transform: translate3d(-400px, 0, 0);
            transform: translate3d(-400px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes rightSlideIn {
  from {
    -webkit-transform: translate3d(400px, 0, 0);
            transform: translate3d(400px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rightSlideIn {
  from {
    -webkit-transform: translate3d(400px, 0, 0);
            transform: translate3d(400px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes txtAppears {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes txtAppears {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes txtSlideDown {
  from {
    -webkit-transform: translate3d(0, -300px, -400px);
            transform: translate3d(0, -300px, -400px);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes txtSlideDown {
  from {
    -webkit-transform: translate3d(0, -300px, -400px);
            transform: translate3d(0, -300px, -400px);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes blink {
  0% {
    border-color: #f1f1f1;
  }
  50% {
    border-color: #161515;
  }
  100% {
    border-color: #f1f1f1;
  }
}

@keyframes blink {
  0% {
    border-color: #f1f1f1;
  }
  50% {
    border-color: #161515;
  }
  100% {
    border-color: #f1f1f1;
  }
}

/* Animation de la flèche de défilement */
/* ------------ # Menu ------------ */
#f-menu {
  position: fixed;
  top: auto;
  bottom: 1rem;
  right: -80px;
  left: auto;
  max-width: none;
  padding-top: 50px;
  z-index: 100;
}

#f-menu .nav-wrap {
  width: 200px;
  float: right;
  position: relative;
}

#f-menu .nav a {
  height: 20px;
  width: 100px;
  display: block;
  margin: 1rem 0;
  position: relative;
  padding: 0;
  text-align: left;
  color: #f4ae34;
  text-decoration: none;
  letter-spacing: -1px;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
}

#f-menu .nav a span.numeroSection {
  position: absolute;
  display: block;
  font-family: Azonix;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#f-menu .nav a span.nomSection {
  position: absolute;
  display: block;
  color: #f1f1f1;
  font-family: Codec;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#f-menu .nav a span.blank {
  display: none;
}

#f-menu .nav .numeroSection {
  right: 0;
}

#f-menu .nav .nomSection {
  right: -100px;
}

#f-menu .nav .link:hover .numeroSection {
  right: 100px;
}

#f-menu .nav .link:hover .numeroSection ~ .nomSection {
  right: 0px;
}

/* ----------- # Layout ------------ */
html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

@font-face {
  font-family: Elianto;
  src: url("../fonts/Elianto.otf");
}

@font-face {
  font-family: Codec;
  src: url("../fonts/Codec.ttf");
}

@font-face {
  font-family: Azonix;
  src: url("../fonts/Azonix.otf");
}

* {
  font-family: Codec, 'sans-serif';
}

h1,
h2 {
  font-weight: 100;
  text-transform: uppercase;
}

body {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #161515;
  border-left: 5px solid #f4ae34;
  color: #f1f1f1;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

section {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  scroll-snap-align: start;
}

@media (min-width: 992px) {
  section {
    width: 90vw;
  }
}

header {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  position: fixed;
  top: 2rem;
  bottom: auto;
  right: 0;
  left: auto;
}

header svg {
  height: 3rem;
  margin-right: 2rem;
  cursor: pointer;
}

header svg .st0, header svg .st1 {
  fill: #f1f1f1;
}

header svg:active {
  -webkit-animation: logoIn 0.5s;
          animation: logoIn 0.5s;
  -webkit-transform: rotate(0deg) scale(1) translateZ(0);
          transform: rotate(0deg) scale(1) translateZ(0);
  -webkit-transition: all 0.4s cubic-bezier(0.5, 1.5, 0.75, 0.75);
  transition: all 0.4s cubic-bezier(0.5, 1.5, 0.75, 0.75);
}

header #sectionName {
  cursor: context-menu;
  font-family: Elianto;
  font-size: 1.5rem;
  opacity: 0.3;
}

header hr {
  height: 60px;
  width: 1px;
  opacity: 0.5;
  right: 0;
  background-color: white;
  margin: 0 20px;
}

.global {
  overflow: auto;
}

@media (min-width: 992px) {
  .global {
    overflow: unset;
  }
}

.shapes {
  position: fixed;
  z-index: -20;
}

.square {
  height: 20px;
  width: 20px;
  position: fixed;
  top: 11rem;
  bottom: auto;
  right: 0;
  left: 725px;
  opacity: 0.15;
  background-color: transparent;
  border: 4px solid rgba(0, 255, 255, 0.5);
}

.square1 {
  height: 20px;
  width: 20px;
  position: fixed;
  top: 700px;
  bottom: auto;
  right: 0;
  left: 1500px;
  opacity: 0.15;
  background-color: transparent;
  border: 4px solid rgba(0, 255, 255, 0.5);
}

.square2 {
  height: 5px;
  width: 5px;
  position: fixed;
  top: 23rem;
  bottom: auto;
  right: 0;
  left: 80px;
  opacity: 0.15;
  background-color: transparent;
  border: 3px solid rgba(0, 255, 255, 0.5);
}

.circle {
  height: 20px;
  width: 20px;
  position: fixed;
  top: 600px;
  bottom: auto;
  right: auto;
  left: 700px;
  opacity: 0.15;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #f4ae34;
}

.circle2 {
  height: 5px;
  width: 5px;
  position: fixed;
  top: 100px;
  bottom: auto;
  right: auto;
  left: 1050px;
  opacity: 0.15;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #f4ae34;
}

.float {
  -webkit-animation: floating 6s infinite ease-in-out;
          animation: floating 6s infinite ease-in-out;
}

.spin {
  -webkit-animation: spinning 10s infinite ease-in-out;
          animation: spinning 10s infinite ease-in-out;
}

/* ----------- # Accueil ------------ */
#sectionAccueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

#sectionAccueil #imageBackground {
  position: absolute;
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
}

#sectionAccueil #imageBackground svg {
  -webkit-filter: drop-shadow(9px -30px 0 #f4ae34);
          filter: drop-shadow(9px -30px 0 #f4ae34);
  opacity: 0.4;
}

#sectionAccueil #imageBackground svg:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.7;
}

#sectionAccueil div {
  padding-bottom: 2rem;
  margin-left: 2rem;
}

#sectionAccueil div h1 {
  font-size: 2.1rem;
  font-family: Elianto;
  text-shadow: -5px 4px 2px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: leftSlideIn 1s forwards;
          animation: leftSlideIn 1s forwards;
}

#sectionAccueil div p {
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-left: 1.75rem;
  opacity: 0;
  text-transform: uppercase;
  white-space: pre-line;
  -webkit-animation: txtAppears 1s forwards 2s;
          animation: txtAppears 1s forwards 2s;
}

#sectionAccueil div p:before {
  content: '\007B';
  color: rgba(0, 255, 255, 0.5);
  font-weight: bold;
}

#sectionAccueil div p:after {
  content: '\007D';
  color: rgba(0, 255, 255, 0.5);
  font-weight: bold;
}

#sectionAccueil div h2 {
  color: #f4ae34;
}

#sectionAccueil div .textChanger {
  height: auto;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

#sectionAccueil div .textChanger > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  color: #f1f1f1;
}

#sectionAccueil div .textChanger > div > span {
  display: inline-block;
}

#sectionAccueil div .textChanger .right {
  margin: 0;
  height: 5rem;
  width: auto;
}

#sectionAccueil div .textChanger .right #textDesigner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sectionAccueil div .textChanger .right:before, #sectionAccueil div .textChanger .right:after {
  content: '\003C \0020 \002F \0020 \003E';
  color: #f1f1f1;
  font-weight: bold;
  -webkit-animation: txtSlideDown 2.3s forwards ease-out;
          animation: txtSlideDown 2.3s forwards ease-out;
}

#sectionAccueil div #textDesigner h2:last-child {
  padding-right: 2px;
  border-right: 0.05em solid #f4ae34;
  -webkit-animation: blink 1.3s infinite linear;
          animation: blink 1.3s infinite linear;
}

@media (min-width: 992px) {
  #sectionAccueil div {
    margin: 10rem;
  }
  #sectionAccueil div h1 {
    font-size: 2.5rem;
  }
  #sectionAccueil div h2 {
    font-size: 2rem;
  }
  #sectionAccueil div p {
    font-size: 1rem;
    margin: 0;
  }
}

#sectionBtnDown {
  cursor: pointer;
  position: absolute;
  padding-left: 1rem;
  top: 63%;
}

#sectionBtnDown .verticalLine {
  height: 100px;
  width: 2px;
  background: #f1f1f1;
  margin: 10px auto;
}

#sectionBtnDown p {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upleft;
}

@media (min-width: 992px) {
  #sectionBtnDown {
    position: absolute;
    padding-left: 10rem;
    top: 70%;
  }
}

/* ------------ # About ------------ */
#sectionAbout h1 {
  text-shadow: -5px 4px 2px rgba(0, 0, 0, 0.5);
}

#sectionAbout .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#sectionAbout .container .aboutMe {
  opacity: 0;
  height: 45%;
}

#sectionAbout .container .aboutMe p {
  width: 400px;
  word-spacing: 0.2rem;
}

#sectionAbout .container .aboutMe ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 10px;
}

#sectionAbout .container .aboutMe ul li {
  list-style-type: none;
  margin-right: 10px;
  font-size: 1.5rem;
}

#sectionAbout .container .aboutMe ul a {
  color: #f4ae34;
  opacity: 0.5;
}

#sectionAbout .container .aboutMe ul a:hover {
  opacity: 1;
}

#sectionAbout .container .aboutMe hr {
  height: 5px;
  width: 60px;
  margin: 25px 0 25px 0;
  opacity: 0.2;
  background-color: #885907;
  border: 0;
}

#sectionAbout .container .aboutMe .yellow {
  color: #f4ae34;
}

#sectionAbout .container .skills {
  opacity: 0;
  width: 100%;
  height: 50%;
  opacity: 0;
}

#sectionAbout .container .skills #skillDesign svg {
  height: 75px;
}

#sectionAbout .container .skills #skillProg {
  margin-top: 5rem;
}

#sectionAbout .container .skills #skillProg .skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 10px;
}

#sectionAbout .container .skills #skillProg .skill-list .skill {
  list-style-type: none;
  margin-right: 10px;
  font-size: 0.75rem;
}

#sectionAbout .container .skills #skillProg .skill-list .skill h3 {
  font-size: 0.75rem;
  font-family: Azonix;
  font-weight: 100;
  text-shadow: -5px 4px 2px rgba(0, 0, 0, 0.5);
}

#sectionAbout .container .skills #skillProg .skill-list .skill .skill1,
#sectionAbout .container .skills #skillProg .skill-list .skill .skill2,
#sectionAbout .container .skills #skillProg .skill-list .skill .skill3,
#sectionAbout .container .skills #skillProg .skill-list .skill .skill4 {
  height: 15px;
  width: 100px;
  background-color: #252525;
}

#sectionAbout .container .skills #skillProg .skill-list .skill .skill1 > *,
#sectionAbout .container .skills #skillProg .skill-list .skill .skill2 > *,
#sectionAbout .container .skills #skillProg .skill-list .skill .skill3 > *,
#sectionAbout .container .skills #skillProg .skill-list .skill .skill4 > * {
  height: inherit;
  width: 50px;
  background: rgba(0, 255, 255, 0.5);
}

@media (min-width: 992px) {
  #sectionAbout .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #sectionAbout .container .aboutMe {
    height: 50%;
  }
  #sectionAbout .container .skills {
    width: unset;
  }
  #sectionAbout .container .skills #skillDesign svg {
    height: 90px;
  }
}

#sectionWork {
  display: block;
}

#sectionWork .container {
  height: 100%;
}

#sectionWork .workDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#sectionWork .workDiv .cardWork {
  height: 300px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  opacity: 0.5;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(0) rotateY(0deg) scale(1);
          transform: perspective(0) rotateY(0deg) scale(1);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#sectionWork .workDiv .cardWork:hover {
  -webkit-transform: scale(1.25) perspective(600px) rotateY(-10deg);
          transform: scale(1.25) perspective(600px) rotateY(-10deg);
  opacity: 1;
  z-index: 99;
}

#sectionWork .workDiv .cardOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

#sectionWork .workDiv .cardOverlay img {
  height: 100%;
}

#sectionWork .workDiv .cardTitle {
  position: absolute;
  top: auto;
  bottom: -75px;
  right: auto;
  left: -20px;
}

#sectionWork .workDiv .cardTitle h2 {
  font-family: Azonix;
  text-align: right;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
  text-shadow: 5px -3px 1px rgba(0, 0, 0, 0.5);
}

/* ------------ # Contact ------------ */
#sectionContact {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectionContact .container {
  padding-left: 6rem;
}

#sectionContact .verticalLine2 {
  opacity: 0;
  height: 200px;
  width: 2px;
  background: #f1f1f1;
}

#sectionContact .contactTitre {
  opacity: 0;
  font-family: Elianto;
}

@media (min-width: 992px) {
  #sectionContact {
    margin: 0 10.5rem;
  }
}

/* ----------- # Footer ------------ */
.menuFooter {
  display: inline-block;
  max-width: none;
  z-index: 100;
  padding-top: 50px;
  text-transform: uppercase;
  color: #f1f1f1;
  opacity: 0.5;
  cursor: pointer;
  pointer-events: none;
}

.menuFooter:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  pointer-events: all;
  opacity: 1;
}

.menuFooter:hover .fa-star {
  color: #f4ae34;
}

.menuFooter:hover .divider:before {
  width: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.menuFooter:hover .itemFooter {
  opacity: 1;
  top: 0px;
}

@media (min-width: 992px) {
  .menuFooter {
    position: fixed;
    top: auto;
    bottom: 1rem;
    right: auto;
    left: 1.25rem;
  }
}

.titleFooter {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}

.divider {
  display: inline-block;
  width: 80px;
  margin: auto 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

.divider:before {
  height: 1px;
  width: 0%;
  content: "";
  position: absolute;
  border-bottom: 1px solid #f4ae34;
  -webkit-transition: width 0.25s ease;
  transition: width 0.25s ease;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.itemFooter {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease, top 0.5s ease;
  transition: opacity 0.5s ease, top 0.5s ease;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.itemFooter a {
  text-decoration: none;
  color: #f1f1f1;
}

.itemFooter a:hover {
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
  color: #a06909;
}

.itemFooter:nth-child(1) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.itemFooter:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.itemFooter:nth-child(3) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.itemFooter:nth-child(4) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.itemFooter:nth-child(5) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.itemFooter:nth-child(6) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.itemFooter:nth-child(7) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.menuFooter:hover .itemFooter:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menuFooter:hover .itemFooter:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menuFooter:hover .itemFooter:nth-child(3) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menuFooter:hover .itemFooter:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menuFooter:hover .itemFooter:nth-child(5) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menuFooter:hover .itemFooter:nth-child(6) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.menuFooter:hover .itemFooter:nth-child(7) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}
/*# sourceMappingURL=style.css.map */