// section ABOUT ---------------------------------------------------------------------------------------------------------------------------ABOUT
#sectionAbout {
    .container {
        @include flex(column, space-around, center);
        height: 100%;

        // Section description
        .aboutMe {
            height: 45%;
            padding: 4rem 1rem 0;
            opacity: 0;
        
            p {
                // width: 400px;
                word-spacing: 0.1rem;
                letter-spacing: 0.01rem;
            }

            ul {
                @include box();
                display: flex;
                width: fit-content;
                margin: 0;
                padding: 10px;

                li {
                    margin-right: 10px;
                    font-size: 2rem;
                }

                a {
                    color: $color_yellow;
                    opacity: 0.5;
                    &:hover {opacity: 1;}
                }
            }

            hr {
                @include taille(5px, 60px);
                margin: 10px 0 10px 0;
                opacity: 0.4;
                background-color: darken($color_yellow, 30%);
                border: 0;
            }

            .yellow {
                color: $color_yellow;
            }
        }
        // .aboutMe END

        // Section skills
        .skills {
            @include taille(50%,100%);
                opacity: 0;
                padding-left: 2rem;

            h1 {
                margin: 2rem 0 0 0;
            }

            .skillContainer {
                display: flex;
                align-items: flex-end;
            }
            // Design part
            #skillDesign {
                @include taille(210px, 175px);

                svg {
                    @include taille(75px, 75px);
                    margin: 0 0.5rem 0.5rem 0;
                    filter: drop-shadow(1px 1px 0px #111) drop-shadow(-1px 1px 0px #111) drop-shadow(1px -1px 0px #111) drop-shadow(-1px 13px 0px #111);
                }
            }

            // Prog part
            #skillProg {
                // display: none;
                @include box();
                height: 210px; //mob
                margin-top: 1rem;
                margin-left: 2rem;
                padding-bottom: 1.2rem;

                // ul
                .skill-list {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding-left: 10px;

                    // li
                    .skill {
                        margin-right: 10px;
                        font-size: 0.75rem;

                        h3 {
                             @include font("azonix", 0.75rem, 100);
                            text-shadow: -5px 4px 2px rgba(0, 0, 0, 0.5);
                        }

                        .skill1,
                        .skill2,
                        .skill3,
                        .skill4 {
                            @include taille(10px, 100px);
                            background-color: darken($color_white, 80%);

                            &>* {
                                @include taille(inherit, 50px);
                                background: $color_cyan;
                            }
                        }
                    }

                }
            }
        }
        // .skills END
    }
    // Desktop version -----------------------------------------------------------DESKTOP
    @include desktop {
        
        .container {
        @include flex(row, space-around, center);

        // about me
            .aboutMe {
                height: 50%;
                padding: 0;

                p {
                    width: 400px;
                    word-spacing: 0.3rem;
                    letter-spacing: 0.01rem;
                }

                ul {
                    li {
                        font-size: 1.5rem;
                    }

                    a {}
                }

                hr {
                    margin: 25px 0 25px 0;
                    opacity: 0.2;
                }
            }

            // Skills
            .skills {
                width: unset;
                padding-left: 0;
                h1 {
                    margin: 0.67em 0;
                }
                .skillContainer {
                    flex-direction: column;
                    align-items: baseline;
                }

                    #skillDesign {
                        @include taille(unset, unset);
                        svg {
                            @include taille(100px,100px);
                            // height: 100px;
                            // width: 100px;
                            padding-right: 2rem;
                            margin: 0;
                        }
                    }

                    #skillProg {
                        height: unset;
                        margin-top: 5rem;
                        padding-bottom: 1.2rem;
                        margin-left: 0;

                        .skill-list {
                            display: flex;
                            flex-direction: row;

                            .skill1,
                            .skill2,
                            .skill3,
                            .skill4 {
                                @include taille(15px, 100px);

                            }
                        }
                    }
            }
        }

    }
}
