// section ABOUT ---------------------------------------------------------------------------------------------------------------------------ABOUT
#sectionAbout {
    .container {
        @include flex(column, space-around, center);
        height: 100%;

        // Section description
        .aboutMe {
            height: 45%;
            opacity: 0;
        
            p {
                width: 400px;
                word-spacing: 0.3rem;
                letter-spacing: 0.01rem;
            }

            ul {
                @include box();
                display: flex;
                width: fit-content;
                margin: 0;
                padding: 10px;

                li {
                    list-style-type: none;
                    margin-right: 10px;
                    font-size: 1.5rem;
                }

                a {
                    color: $color_yellow;
                    opacity: 0.5;
                    &:hover {opacity: 1;}
                }
            }

            hr {
                @include taille(5px, 60px);
                margin: 25px 0 25px 0;
                opacity: 0.2;
                background-color: darken($color_yellow, 30%);
                border: 0;
            }

            .yellow {
                color: $color_yellow;
            }
        }
        // .aboutMe END

        // Section skills
        .skills {
            @include taille(50%,100%);
            opacity: 0;

            // Design part
            #skillDesign {
                svg {
                    height: 75px;
                    filter: drop-shadow(1px 1px 0px #111) drop-shadow(-1px 1px 0px #111) drop-shadow(1px -1px 0px #111) drop-shadow(-1px 13px 0px #111);
                }
            }

            // Prog part
            #skillProg {
                margin-top: 5rem;
                @include box();
                padding-bottom: 1.2rem;

                // ul
                .skill-list {
                    display: flex;
                    margin: 0;
                    padding-left: 10px;

                    // li
                    .skill {
                        list-style-type: none;
                        margin-right: 10px;
                        font-size: 0.75rem;

                        h3 {
                             @include font("azonix", 0.75rem, 100);
                            text-shadow: -5px 4px 2px rgba(0, 0, 0, 0.5);
                        }

                        .skill1,
                        .skill2,
                        .skill3,
                        .skill4 {
                            @include taille(15px, 100px);
                            background-color: darken($color_white, 80%);

                            &>* {
                                @include taille(inherit, 50px);
                                background: $color_cyan;
                            }
                        }
                    }

                }
            }
        }
        // .skills END
    }
    // Desktop version -----------------------------------------------------------DESKTOP
    @include desktop {
        .container {
        @include flex(row, space-around, center);

        // about me
            .aboutMe {
                height: 50%;

                p {}

                ul {
                    li {}

                    a {}
                }
            }

            // Skills
            .skills {
                width: unset;

                    #skillDesign {
                        svg {height: 90px;}
                    }
            }
        }

    }
}
