// Section ACCUEIL ---------------------------------------------------------------------------------------------------------------------------ACCUEIL
#sectionAccueil {
    @include flex(column, center, auto);

    // Hide bg image
    #imageBackground {
        display: none;
    }
    // Container
    div {
        padding-bottom: 2rem;
        margin-left: 2rem;

        h1 {
            @include font("Elianto", 2.1rem, auto);
            text-shadow: -5px 4px 2px rgba(0, 0, 0, 0.5);
            transform: translate3d(0, 0, 0);
            animation: leftSlideIn 1s forwards;
        }

        p {
            font-size: 0.75rem;
            letter-spacing: 1px;
            margin-left: 1.75rem;
            opacity: 0;
            text-transform: uppercase;
            white-space: pre-line;
            animation: txtAppears 1s forwards 2s;

            // Adding {} before and after
            &:before {
                content: '\007B';
                color: $color_cyan;
                font-weight: bold;
            }

            &:after {
                content: '\007D';
                color: $color_cyan;
                font-weight: bold;
            }
        }

        h2 {
            color: $color_yellow;
        }

        // Container for Text design changer 
        .textChanger {
            @include taille(auto, 100%);
            overflow: hidden;
            margin: 0;
            // perspective: 100vw;

            >div {
                @include flex(auto, auto, center);
                top: 0;
                color: $color_white;
                >span {
                    display: inline-block;
                }
            }

            // Adding </> to the right
            .right {
                @include taille(5rem, auto);
                margin: 0;
                // text-align: left;
                #textDesigner {
                    display: flex;
                }

                &:before,
                &:after {
                    content: '\003C \0020 \002F \0020 \003E';
                    color: $color_white;
                    font-weight: bold;
                    // color: $color_cyan;
                    // transform:translate3d(-100px,0,0);
                    animation: txtSlideDown 2.3s forwards ease-out;
                }
            }
        }

        // Texte descriptif changeant
        #textDesigner {
            h2 {
                text-shadow: none;
                &:last-child {
                    padding-right: 2px;
                    border-right: .05em solid $color_yellow;
                    animation: blink 1.3s infinite linear;
                }
            }
        }
    }
    // Desktop version -----------------------------------------------------------DESKTOP
    @include desktop {
        // Media background
        #imageBackground {
            @include flex(auto, center, flex-end);
            @include pos(absolute, 0, auto, -75px, auto);
            clip-path: circle(33%);
            // Image minime
            img {
                position: absolute;
                opacity: 0.7;
                z-index: 2;
                animation: txtAppears 1s ease-in;
            }
            // Background texture
            svg {
                filter: drop-shadow(9px -30px 0 $color_yellow);
                opacity: 0.3;
            }
        }

        div {
            margin: 10rem;
            h1 {
                font-size: 2.5rem;
            }
            h2 {
                font-size: 2rem;
            }
            p {
                font-size: 1rem;
                margin: 0;
            }
        }
    }
}

// Bouton scroll down
#sectionBtnDown {
    @include pos(absolute,63%,auto,auto,auto);
    cursor: pointer;
    padding-left: 1rem;
    opacity: 0;
    animation: txtSlideDown 1s forwards 1.5s;
    z-index: 10;
    .verticalLine {
        @include taille(100px, 2px);
        background: $color_white;
        margin: 10px auto;
    }

    p {
        writing-mode: vertical-lr;
        text-orientation: upleft;
    }
    // Desktop version -----------------------------------------------------------DESKTOP
    @include desktop {
        @include pos(absolute, 70%, auto, auto, auto);
        padding-left: 10rem;
    }
}

// #sectionBtnDown {
//     // animation: animScrollDown 4.5s infinite ease-out;
//     position: absolute;
//     height: 10rem;
//     left: 0;
//     right: 0;
//     margin-left: auto;
//     margin-right: auto;

//     svg {
//         transform: scale(0.15);
//         filter: drop-shadow(-20px -15px  rgba(cyan, 0.5) );
//         animation: animScrollDown 3.5s both infinite;

//         .st2{
//             transform-origin: top;
//             transform: scale(0.95);
//             // animation: animScrollDown 4s infinite ;
//         }
//     }
// }