// Animation list

// Animation Logo
@keyframes logoClick {
    0% {
        opacity: 1;
        transform: scale(.5);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        opacity: 1;
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

// Animation Shapes
@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(0, -0px);
    }
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


// Animation section accueil

// Animation slide-in gauche
@keyframes leftSlideIn {
    from {
        transform: translate3d(-400px, 0, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

// Animation slide-in droite
@keyframes rightSlideIn {
    from {
        transform: translate3d(400px, 0, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

// Animation apparition avec slide-in top
@keyframes txtAppears {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

// Animation slide-in down
@keyframes txtSlideDown {
    from {
        transform: translate3d(0, -300px, -400px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes popUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

// Animation de l'indicateur de texte
@keyframes blink {
    0% {
        border-color: $color_white;
    }

    50% {
        border-color: $color_black;
    }

    100% {
        border-color: $color_white;
    }
}
