//  CONTACT---------------------------------------------------------------------------------------------------------------------------
#sectionContact {
    margin: 0;
    .container {
        
        padding-left: 6rem;
    }

    display: flex;
    align-items: center;

    .verticalLine2 {
        opacity: 0;
        @include taille(200px, 2px);
        // animation: txtSlideDown 1s forwards;
        background: $color_white;
    }

    .contactTitre {
        // animation: txtSlideDown 1s forwards;
        opacity: 0;
        // animation-delay: .5s;
        font-family: Elianto;
    }

    @include desktop {
    margin: 0 10.5rem;
    }
}

