//  CONTACT---------------------------------------------------------------------------------------------------------------------------
#sectionContact {
    display: flex;
    align-items: center;
    margin: 0;
    .container {
        padding-left: 6rem;
    }
    // .verticalLine2 {
    //     opacity: 0;
    //     @include taille(200px, 2px);
    //     // animation: txtSlideDown 1s forwards;
    //     background: $color_white;
    // }

    .contactTitre {
        // animation: txtSlideDown 1s forwards;
        opacity: 0;
        // animation-delay: .5s;
        font-family: Elianto;
    }

    .lienContact {
        display: flex;
        align-self: start;
        @include box();
        padding: 1rem;

        li {
            margin-right: 2rem;

            a{
                
                text-decoration: none;
                color: $color_white;
                opacity: 0.8;
                &:hover {
                    transition: 0.2 all ;
                    color: $color_yellow;
                }
            }
        }
    }

    // Desktop version -----------------------------------------------------------DESKTOP
    @include desktop {
    margin: 0 10.5rem;
    }
}

