// General css style layout
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

// Stylized title font
@font-face {
    font-family: Elianto;
    src: url('../fonts/Elianto.otf');
}

// Regular font; doesn't include numbers 
@font-face {
    font-family: Codec;
    src: url('../fonts/Codec.ttf');
}

// Title fonts 
@font-face {
    font-family: Azonix;
    src: url('../fonts/Azonix.otf');
}

* {
    font-family: Codec, 'sans-serif';
}

h1,
h2 {
    font-weight: 100;
    text-transform: uppercase;
}

body {
    @include taille(100%, 100%);
    box-sizing: border-box;
    background-color: $color_black;
    border-left: 5px solid $color_yellow;
    color: $color_white;
    overflow: scroll;
}

// Hide scrollbar 
::-webkit-scrollbar {
    display: none;
}

section {
    @include taille(100vh, 100vw);
    margin: 0 auto;
    scroll-snap-align: start;

    @include desktop {
        width: 90vw;
    }
}

header {
    @include taille(auto,100%);
    @include flex(row-reverse,auto,auto);
    @include pos(fixed,2rem,auto,0,auto);
    svg {      
        height: 3rem;
        margin-right: 2rem;
        cursor: pointer;
        .st0,.st1 {
            fill: $color_white;
        }
        &:active {
            animation: logoClick 0.5s;
            transform: rotate(0deg) scale(1) translateZ(0);
            transition: all 0.4s cubic-bezier(.5, 1.5, .75, .75);
        }
    }
    #sectionName {
        cursor: context-menu;
        font-family: Elianto;
        font-size: 1.5rem;
        opacity: 0.3;
    }

    hr {
        @include taille(60px,1px);
        opacity: 0.5;
        right: 0;
        background-color: white;
        margin: 0 20px;
    }
}

.global {
    overflow: auto;
    @include desktop {overflow: unset;}
}

// Background Shape
.shapes {
    position: fixed;
    z-index: -20;
}

.square {
    @include taille(20px, 20px);
    @include pos(fixed, 11rem, auto, 0, 725px);
    opacity: 0.15;
    background-color: transparent;
    border: 4px solid $color_cyan;
}

.square1 {
    @include taille(20px, 20px);
    @include pos(fixed, 700px, auto, 0, 1500px);
    opacity: 0.15;
    background-color: transparent;
    border: 4px solid $color_cyan;
}

.square2 {
    @include taille(5px, 5px);
    @include pos(fixed, 23rem, auto, 0, 80px);
    opacity: 0.15;
    background-color: transparent;
    border: 3px solid $color_cyan;
}

.circle {
    @include taille(20px, 20px);
    // change position
    @include pos(fixed, 600px, auto, auto, 700px);
    opacity: 0.15;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid $color_yellow;
}

.circle2 {
    @include taille(5px, 5px);
    // change position
    @include pos(fixed, 100px, auto, auto, 1050px);
    opacity: 0.15;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid $color_yellow;
}

.float {
    animation: floating 6s infinite ease-in-out;
}

.spin {
    animation: spinning 10s infinite ease-in-out;
}


// DESKTOP ---------------------------------------------------------------------------------------------------------------------------
@media screen and (min-width: 1024px) { 

}