* {
    font-family: Codec,'sans-serif';
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; 
}
// Stylized title font
@font-face {
    font-family: Elianto;
    src: url('../fonts/Elianto.otf');
}
// Regular font; doesn't include numbers 
@font-face {
    font-family: Codec;
    src: url('../fonts/Codec.ttf');
}
// Title fonts 
@font-face {
    font-family: Azonix;
    src: url('../fonts/Azonix.otf');
}

h1,h2 {
    font-weight: 100;
    text-transform: uppercase;
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color : $color_black;
    border-left: 5px solid $color_yellow;
    color: $color_white;
}

// Hide scrollbar 
::-webkit-scrollbar {
    display: none;
}


section {
    height: 100vh;
    width: 90vw;
    margin: 0 auto;
    // scroll-snap-align: start;
}

// Section ACCUEIL -------------------------------------------
#sectionAccueil {
    display: flex;
    // flex: 45%;
    flex-flow: column;
    justify-content: center;
    
    div {
        padding-bottom: 2rem;
        margin-left: 2rem;
        h1 {
            font-size: 2.1rem;
            font-family: Elianto;
            transform: translate3d(0,0,0);
            animation: LeftSlideIn 1s forwards;
            // text-shadow: -3px 0 0 rgba(255, 0, 0, .7),
            // 3px 0 0 rgba(0, 255, 255, .7);
            //   text-shadow:
            //   -0.25rem -0.15rem rgba(cyan, 0.5),
            //   0 0.25rem rgba(yellow, 0.5);
            //   &:hover{
            //         text-shadow: -0.5rem -0.05rem rgba(cyan, 0.5),
            //         0 0.5rem rgba(yellow, 0.5);
            //   }
            @include desktop {
                    font-size: 2.5rem;
            }

        }
        p {
            font-size: 0.75rem;
            letter-spacing: 1px;
            margin-left: 1.75rem;
            opacity: 0;
            text-transform: uppercase;
            white-space: pre-line;
            animation: txtAppears 1s forwards 2s;

            &:before {
                content: '\007B';
                color: $color_cyan;
                font-weight: bold;

            }
            &:after {
                content: '\007D';
                color: $color_cyan;
                font-weight: bold;
            }
            @include desktop {
                font-size: 1rem;
                margin: 0;
            }
        }
        h2{
            color: $color_yellow;
            @include desktop {

                    font-size: 2rem;
            }
        }

        // Changement de texte
        .textChanger {
            width: 100%;
            height: auto;
            overflow: hidden;
            margin:0;
            // perspective: 100vw;

            >div {
                // position: absolute;
                top: 0;
                // width: 50%;
                // height: 100%;
                color: $color_white;
                animation: open ease-in 1s;
                animation-delay: 1s;
                animation-fill-mode: forwards;
                display: flex;
                align-items: center;
                >span {
                    display: inline-block;
                }
            }

            .right {
                margin: 0;
                height: 5rem;
                width: auto;
                // text-align: left;
                #textDesigner {
                    display: flex;
                }
                &:before,&:after {
                    content: '\003C \0020 \002F \0020 \003E';
                    color: $color_white;
                    font-weight: bold;
                    // color: $color_cyan;
                    // transform:translate3d(-100px,0,0);
                    animation: txtSlideDown 2.3s forwards ease-out;
                }
            }
        }

        // Texte descriptif changeant
        #textDesigner {
            h2:last-child {
                padding-right: 2px;
                border-right: .05em solid $color_yellow;
                animation: blink 1.3s infinite linear;
            }
        }
        @include desktop {
            margin: 10rem;
        }
    }

    #imageBackground {
        display: none;
        @include desktop {
            display: block;
            position: absolute;
            left: 45%;
            opacity: 0.5;
            height: 60%;
            width: 50%;
            background-image: url('../media/yep.png');
            background-repeat: no-repeat;
            background-size: contain;
            filter: invert(0.2);

            &:hover {
                transition: all 0.3s;
                opacity: 1;
            }
        }

    }
}

// Bouton scroll down
#sectionBtnDown {
    position: absolute;
    padding-left: 10rem;
    // height: 100%;
    top: 70%;
    .verticalLine {
        width: 2px;
        height: 100px;
        background: $color_white;
        margin: 10px auto;
    }
    p {
        writing-mode: vertical-lr;
        text-orientation: upleft;
    }

}

    // #sectionBtnDown {
    //     // animation: animScrollDown 4.5s infinite ease-out;
    //     position: absolute;
    //     height: 10rem;
    //     left: 0;
    //     right: 0;
    //     margin-left: auto;
    //     margin-right: auto;

    //     svg {
    //         transform: scale(0.15);
    //         filter: drop-shadow(-20px -15px  rgba(cyan, 0.5) );
    //         animation: animScrollDown 3.5s both infinite;

    //         .st2{
    //             transform-origin: top;
    //             transform: scale(0.95);
    //             // animation: animScrollDown 4s infinite ;
    //         }
    //     }
    // }
 
// section ABOUT -------------------------------------------
#sectionAbout {
     .container {
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;

        .aboutMe {
            p {
                width: 400px;
            }
            ul {
                display: flex;
                margin: 0;
                padding-left: 10px;
                a{
                    color: $color_yellow;
                }
                li {
                    list-style-type: none;
                    margin-right:10px;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
// section WORK -------------------------------------------
#sectionWork {
    display: block;
    h1 {
        position: absolute;
        margin: 30px;
    }
    .workDiv {
        display: flex;
        align-items: center;
        height: 100%;

        .cardWork {
            display: flex;
            position: relative;
            background: pink;
            width: 300px;
            height: 300px;
            margin: 0 auto;
            transform: rotateX(0) rotateY(0);
            transform-style: preserve-3d;
            transition-duration: 0.2s;
            transition-timing-function: ease;
            transform: perspective(600px) rotateY(-30deg);

            &:hover {
                transform: perspective(0) rotateY(0deg);
            }

        }
        #work2 {
            // display: none;
        }
        .cardOverlay {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            // background: lightblue;
            img{
                height:100%;
            }
        }
        .cardTitle {
           position: absolute;
           bottom: -35px;
           right: -20px;
           width:100%;
            h2 {
                font-family: Azonix;
                text-align: right;
                transform: translateZ(20px);
                text-shadow: 5px 5px darken($color_black,50%);
            }
        }
    }
}

.shapes {
    position: fixed;
}

.square {
    position: fixed;
    top: 200px;
    left: 800px;
    width: 20px;
    height: 20px;
    opacity: 0.15;
    background-color: transparent;
    border: 3px solid $color_cyan;
}
.square1 {
    position: fixed;
    top: 700px;
    left: 1600px;
    width: 20px;
    height: 20px;
    opacity: 0.15;
    background-color: transparent;
    border: 2px solid $color_cyan;
}
.circle {
    position: fixed;
    opacity: 0.15;
    top: 600px;
    left: 700px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid $color_yellow;
}

.circle2{
    position: fixed;
    opacity: 0.15;
    top: 100px;
    left: 1400px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid $color_yellow;
}

.float {
    animation-name: Floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(0, -0px);
    }
}

.spin {
    animation-name: Spinning;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes Spinning {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// DESKTOP -------------------------------------------------
@media screen and (min-width: 1024px) { 

}