// #nav {
//     ul {
//         position: fixed;
//         right: 1rem;
//         bottom: 1.25rem;
//         display: block;
//         margin: 0;
//         display: flex;
//         flex-direction: column;

//         li {
//             display: flex;
//             justify-content: flex-end;
//             margin-bottom: 20px;
//             width: 5rem;
//             height: 0.25rem;
//             list-style: none;
//             cursor: pointer;

//             a {
//                 // width: 3rem;
//                 position: absolute;
//                 text-decoration: none;
//                 display: flex;

//                 .numeroSection {
//                     font-family: Azonix;
//                     color: $color_yellow;
//                     text-align: right;
//                     &:hover {
//                         transform:translateX(-20px);
//                         transition: 0.5 all;
//                         content: 'aaa';
//                         ~.nomSection{
//                             display: inline;
//                         }
//                     }
//                 }

//                 .nomSection {
//                     display: none;
//                     right: -200px;
//                     opacity: 0.4;
//                     font-family: Codec;
//                     text-transform: uppercase;
//                     color: $color_white;
//                 }
//             }

//         }
//     }
// }

// -------------------------------------------------------------------
#f-menu {
    position: fixed;
    right: -90px;
    bottom: 1rem;
    max-width: none;
    padding-top: 50px;
    z-index: 100;

    .nav-wrap {
        width: 200px;
        // height: 200px;
        float: right;
        position: relative;
    }

    .nav {
        a {
            text-align: left;
            display: block;
            color: $color_yellow;
            text-decoration: none;
            padding: 0;
            height: 20px;
            width: 100px;
            letter-spacing: -1px;
            text-transform: uppercase;
            line-height: 1;
            margin-bottom: 5px;
            position: relative;

            span.numeroSection {
                font-family: Azonix;
                position: absolute;
                display: block;
                transition: all 0.4s ease-in-out;
            }

            span.nomSection {
                color: $color_white;
                position: absolute;
                display: block;
                transition: all 0.4s ease-in-out;
                font-family: Codec;
            }

             span.blank {
                 display: none;
             }
        }

        .numeroSection {
            right: 0;
        }

        .nomSection {
            right: -100px;
        }

        .link {
            &:hover .numeroSection {
                    right: 100px;
                ~.nomSection {
                    right: 0px;
                }
            }
        }
    }
}
