// Nav
#f-menu {
    @include pos(fixed,auto,1rem,-80px,auto);
    max-width: none;
    padding-top: 50px;
    z-index: 100;

    .nav-wrap {
        width: 200px;
        // height: 200px;
        float: right;
        position: relative;
    }
    .nav {
        // Arrows
        a {
            @include taille(20px,100px);
            display: block;
            margin: 1rem 0;
            position: relative;
            padding: 0;
            text-align: left;
            color: $color_yellow;
            text-decoration: none;
            letter-spacing: -1px;
            text-transform: uppercase;
            line-height: 1;
            cursor: pointer;

            span.numeroSection {
                position: absolute;
                display: block;
                font-family: Azonix;
                transition: all 0.4s ease-in-out;
            }

            span.nomSection {
                position: absolute;
                display: block;
                color: $color_white;
                font-family: Codec;
                transition: all 0.4s ease-in-out;
            }

             span.blank {
                 display: none;
             }
        }

        .numeroSection {
            right: 0;
        }

        .nomSection {
            right: -100px;
        }

        .link {
            &:hover .numeroSection {
                    right: 100px;
                ~.nomSection {
                    right: 0px;
                }
            }
        }
    }
}
