// Display flex
@mixin flex($flexDirect, $justCont,$alignItems){
    display: flex;
    flex-direction: $flexDirect;
    justify-content: $justCont;
    align-items: $alignItems;
}

// Taille
@mixin taille($hauteur, $largeur) {
    height: $hauteur;
    width: $largeur;
}

// Position
@mixin pos($pos,$top,$bottom,$right,$left) {
    position: $pos;
    top: $top;
    bottom: $bottom;
    right: $right;
    left: $left;
}

// Neumorphism box
@mixin box() {
    border-radius: 1px;
    background: linear-gradient(225deg, #141313, #181616);
    box-shadow: -3px 3px 0px #131212,3px -3px 0px #191818;
}

@mixin boxChecked() {
border-radius: 1px;
background: #161515;
box-shadow: 3px -3px 0px #131212,
-3px 3px 0px #191818;
}

// Font settings
@mixin font($fFamily, $fSize, $fWeight) {
    font-family: $fFamily;
    font-size: $fSize;
    font-weight: $fWeight;
}

// Responsive tablette
@mixin tablette() {
    @media (min-width: 768px) {
        @content;
    }
}

// Responsive desktop
@mixin desktop() {
    @media (min-width: 992px) {
        @content;
    }
}