// .active {
//     transform: scale(2);
//     height: 100%;
//     transform-origin: center ;
// }

#sectionWork {
    display: none;
    .container {
        @include flex(column, center, center);
        height: 100%;
    }
}

.galleryWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
}

.galleryGrid {
    display: flex;
    width: 100%;
    // justify-content: space-around;
    justify-content: center;
    grid-gap: 0.6rem;

    h1 {
        @include font("azonix", 3rem, auto);
        text-shadow: -5px 4px 2px rgba(0, 0, 0, 0.5);
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        // transform-origin: center;
        margin: auto;
        color: $color_yellow;
    }
}

.workGame {
    // animation: popUp 1s ease 1s;
    opacity: 0;
    padding: 5rem;
    // background-color: darken($color_black, 3%);
    // border: 3px solid $color_cyan;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: "title . .""title . .";
        .galleryItems {
            filter: brightness(0.75);
            height: 250px;
            padding: 0.2rem;

            // border: 1px solid #555;
            &:hover {
                transition: .4s all;
                transform: scale(1.05);
                z-index: 99;
                filter: brightness(1);
                border-bottom: 2px solid $color_cyan;

                // On hover, play gif
                &:nth-of-type(1) {
                    opacity: 0.5;
                    background-image: url("../media/airGif.gif"), url("../media/sd-airBallon.png");
                    background-size: contain;
                    background-blend-mode: color-dodge;
                }

                &:nth-of-type(2) {}

                &:nth-of-type(3) {}

                &:nth-of-type(4) {
                    background-image: url("../media/sd-quercus.png"), url("../media/quercusGif.gif");
                    background-size: contain;
                    background-blend-mode: color-dodge;
                }

                &:nth-of-type(5) {
                    background-image: url("../media/sd-blok.png"), url("../media/blokGif.gif");
                    background-size: cover;
                    background-blend-mode: multiply;
                }

                &:nth-of-type(6) {
                    background-image: url("../media/sd-astre.png"), url("../media/astreGif.gif");
                    background-size: contain;
                    background-blend-mode: color-dodge;
                }
            }
            // Setting img for each area
            &:nth-child(n) {
                background-size: contain;
                background-repeat: no-repeat;
            }

            // Setting img
            &:nth-of-type(1) {
                @include taille(250px, 450px);
                background-image: url("../media/sd-airBallon.png");
            }

            &:nth-of-type(2) {
                // background-image: url("../media/sd-tokki.png");
            }

            &:nth-of-type(3) {
                @include taille(250px, 450px);
                background-image: url("../media/sd-tokki.png");
            }

            &:nth-of-type(4) {
                @include taille(250px, 450px);
                background-image: url("../media/sd-quercus.png");
            }

            &:nth-of-type(5) {
                width: inherit;
                background-image: url("../media/sd-blok.png");
            }

            &:nth-of-type(6) {
                @include taille(250px, 450px);
                background-image: url("../media/sd-astre.png");
            }
        }
}

.workMaya {
    padding: 5rem;
    // background-color: darken($color_black, 3%);
    // border: 3px solid $color_cyan;
    display: none;
    grid-template-columns: auto 1fr auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "title . .""title . .";

    .galleryItems {
        filter: brightness(0.75);
        height: 250px;
        padding: 0.2rem;
    }
}

.title {
    @include box();
    grid-area: title;
    padding: 1rem;
    margin: 0 1rem 0 1rem;
}

// Radio button
.radioContainer {
    opacity: 0;
    width: 100%;
    margin: 0 auto;

    .radioWrapper {
        // width: 100vw;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        > div {
            // @include box();
            // margin-right: 2.5rem;
            padding: 1rem;
            margin: 0 1rem 0 1rem;
        }
        input {
            display: none;
        }
        label {
            @include box();
            padding: 1.25rem;
        }
        input[type="radio"]#gameBtn:checked+label,
        input[type="radio"]#mayaBtn:checked+label {
            color: $color_cyan;
            @include boxChecked();
        }

    }
}

.left-fade {
    @include taille(30rem,25%);
    @include pos(fixed,300px,auto,auto,300px);
    background: linear-gradient(100deg,$color_black 0%, rgba(0, 0, 0, 0) 80%);
    pointer-events: none;
    z-index: -1;
}

.right-fade {
    @include taille(30rem, 25%);
    @include pos(fixed, 300px, auto, 0, auto);
    background: linear-gradient(-100deg, $color_black 0%, rgba(0, 0, 0, 0) 80%);
    pointer-events: none;
    z-index: -1;
}

// 
.active {
    transform: scale(2);
    position: absolute;
}

