// Stylized title font
@font-face {
    font-family: Elianto;
    src: url('../fonts/Elianto.otf');
}

// Regular font; doesn't include numbers 
@font-face {
    font-family: Codec;
    src: url('../fonts/Codec.ttf');
}

// Title fonts 
@font-face {
    font-family: Azonix;
    src: url('../fonts/Azonix.otf');
}
